APP_NAME=Family ToDo List API
APP_ENV=production

SECRET_KEY=change_me_to_long_random_secret
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# В Docker Compose backend должен обращаться к PostgreSQL по имени сервиса db.
DATABASE_URL=postgresql+psycopg2://postgres:change_me_password@db:5432/family_todo

# Для VPS по IP:
# CORS_ORIGINS=http://YOUR_SERVER_IP
# Для домена:
# CORS_ORIGINS=https://your-domain.ru
CORS_ORIGINS=http://YOUR_SERVER_IP
